{# empty Twig template #}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Task planner</title>
    </head>
    <body>
        <h1>Task Planner</h1>
        <a href="{{path('app_task_addtask')}}">Add</a>
        <table>
        {% for task in tasks%}
            <p>Task: {{task.name}}</p>
            <p>Description: {{task.description}}</p>
            <p>Due date: {{task.dueDate|date('Y-m-d H:i:s')}}</p> 
            {%if task.checked == false %}
                <p>Checked: No</p>
            {% else %}
                <p>Checked: Yes</p>
            {%endif%}
            <p>Priority: {{task.priority}}</p>
            {% if task.category %}
            <p>Category: {{task.category.name}}</p>
            {%endif%}
            {%if task.checked == false%}
            <a href="{{path('app_task_modify', {'id': task.id})}}">Edit</a>
            {%endif%}
            <a href="{{path('app_task_delete', {'id': task.id})}}">Delete</a>
            <a href="{{path('app_category_addcategory')}}">Add Category</a>
            <a href="{{path('app_comment_addnewcomment', {'id': task.id})}}">Add Comment</a>
            <a href="{{path('app_comment_showcommentsbytask', {'id': task.id})}}">Show comments</a>
        {%endfor%}
    </body>
</html>
